[Unit]
Description=AKA Python Garden service

[Service]
Type=simple
WorkingDirectory=/root/bbb-garden/
ExecStart=/usr/bin/ python poller.py &
KillMode=process
